/*corpo do site*/
*{
margin: 0px;
padding: 0px;
}
            
body{
background-color:white;
}
                 
                  
/*menu do site*/
nav{
background-color:#4B0082;
}
                
/*logan menu*/
nav > a{
text-decoration: none;
color: #DA70D6;
font-weight:500;
font-size: 32px;
font-style: Arial;
text-align: left;
line-height: 2.0;
padding: 5px;
background-color: white;
}
                
                
/* config menu*/
nav ul{
padding: 0;
width:100% ;
}
                
/*config dos link em menu*/
ul{
text-align: center;
line-height: 1.0;
width:100% ;
}
                
/*config link style*/
nav ul li a {
display: inline-table;
padding: 10px 0px;
width: 100%;
text-decoration: none;
font-size: 25px;
font-style: Arial;
text-align: center;
color: white;
}
                
/*config link sem ser tocado*/
a:link{
text-decoration: transparent;
}
                
/*config link ao ser tocado*/
a:active{
color:white;
}
    
/*principal*/
#corpo{
text-align: center;
background-color: #f6eff6; 
width: 1000px;
max-width: 100%;
margin: 2px auto;
}
    
#corpo h1{
text-align: center;        
font-family: Arial;
color:#000000;
line-height: 2.0;
}

#corpo h2{
font-family: Arial;
font-size: 20px;
padding: 2.0px;
margin: 10px;
text-align: left;
}

#corpo h3{
font-family: Arial;
font-size: 18px;
padding: 2.0px;
margin: 10px;
text-align: center;
}

#corpo p{
text-align: left;
font-style: Arial;
color:black;
font-size: 20px;
line-height: 2.0;  
padding: 2.0px;
margin: 10px; 
}


#corpo p a {
color:black;
}

#corpo img{
width:450px; 
height:450px; 
max-width:100%
}

/*rotape*/
footer{
text-align: center;
padding: 10px;
background-color: #4F4F4F;
color:white ;
}


